CafeiteiraDaFast/CafeiteiraFast.Publish.xml
CafeiteiraDaFast/obj/
Deploy/
CafeteiraDaFast.Testes/bin/
CafeteiraDaFast.Testes/obj/
CafeteiraDaFast.WP7/Bin/
CafeteiraDaFast.WP7/obj/
CafeteiraDaFast/obj/
CafeteiraDaFast.Android/.metadata/
CafeteiraDaFast.Android/CafeteiraDaFast/bin/
CafeteiraDaFast/Content/CafeteiraDaFast.apk
CafeteiraDaFast.Model/obj/
CafeteiraDaFast.TaskAgent/Bin/
CafeteiraDaFast.TaskAgent/obj/
CafeteiraDaFast.VS2012/CafeteiraDaFast.Tests/bin/
CafeteiraDaFast.VS2012/CafeteiraDaFast.Tests/obj/
*.pubxml
CafeteiraDaFast.VS2012/CafeteiraDaFast/bin/
CafeteiraDaFast.VS2012/CafeteiraDaFast/obj/
*.PublishSettings
CafeteiraDaFast.VS2012/packages/
packages/
