CafeiteiraDaFast/CafeiteiraFast.Publish.xml
CafeiteiraDaFast/obj/
Deploy/
CafeteiraDaFast.Testes/bin/
CafeteiraDaFast.Testes/obj/
CafeteiraDaFast.WP7/Bin/
CafeteiraDaFast.WP7/obj/
CafeteiraDaFast/obj/
