<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafeteira da FAST</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery")
</head>
<body>
    <div class="page">
        <div id="header">
            <div class="content">
                <h1 class="fullname">
                    <span>Cafeteira da FAST</span><br />
                    <img src='@Url.Content("~/Content/logo.jpg")' alt="Cafeteira da FAST" class="avatar" />
                </h1>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            <div>
			    <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-2641009792793681";
                    /* Ads Cafeteira */
                    google_ad_slot = "7788156704";
                    google_ad_width = 320;
                    google_ad_height = 50;
                    //-->
			    </script>
			    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
            </div>
            <div>
			    <a href='http://www.mobfox.com/?aid=16284' target="_blank">
				    <img src='https://account.mobfox.com/v2/www/cp/assets/banners/468x60.gif' border="0" style="width: 100%; max-width: 480px;" />
			    </a>
			</div>
		</div>
    </div>
</body>
</html>
