<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="sgea.mailer@gmail.com" password="f09.10fasT" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>