<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtpdoemaildoremetente" port="25"  userName="emaildoremetente" password="senhadoemaildoremetente com Crypto.Encrypt" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>